/*body{
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.todo{
    display: flex;
    gap: 2rem;
}
.input_text{
    width: 15rem;
    height: 3rem;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border: none;
    background-color: rgba(56, 83, 62, 0.795);
    font-size: 1.2rem;
    padding-left: 1rem ;
    font-weight: 700;
}
.input_text::placeholder{
    color: rgb(0, 0, 0);
    
    
}
.input_date{
    border: none;
    width: 10rem;
    height: 3rem;
    background-color: rgb(23, 68, 27);
    font-size: 1.2rem;
    text-align: center;
    color: aliceblue;
    font-weight: 600;
}

.add{
    width: 5rem;
    height: 3rem;
    border: none;
    background-color: rgb(0, 82, 20);
    font-size: 1.2rem;
    text-align: center;
    color: aliceblue;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    font-weight: 500;
}
.title_todo{
    display: flex;
    width: 32rem;
    justify-content: center;

}
.title{
    border-bottom: 1px solid blue;
    width: 5rem;
    text-align: center;
    
}

.js_todo{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.name{
    width: 16rem;
    height: 3rem;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border: none;
    display: flex;
    background-color: rgba(56, 83, 62, 0.356);
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
}
.duedate{
    border: none;
    width: 10.2rem;
    height: 3rem;
    background-color: rgba(49, 102, 53, 0.5);
    font-size: 1.2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.delete{
    width: 5rem;
    height: 3rem;
    border: none;
    background-color: rgba(212, 0, 0, 0.918);
    font-size: 1.2rem;
    text-align: center;
    color: aliceblue;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    font-weight: 600;
}
*/
/* grid implementation */

body{
    font-family: Arial;
}
.todo_grid, 
.todo{
    display: grid;
    grid-template-columns: 15rem 10rem 5rem ;
    column-gap: 2rem;
    row-gap: 2rem;
}

.todo{
    margin-bottom: 1rem;
}
.name{
    width: 16rem;
    height: 3rem;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border: none;
    display: flex;
    background-color: rgba(56, 83, 62, 0.356);
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
}
.duedate{
    border: none;
    width: 10.2rem;
    height: 3rem;
    background-color: rgba(49, 102, 53, 0.5);
    font-size: 1.2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.delete{
    width: 5rem;
    height: 3rem;
    border: none;
    background-color: rgba(212, 0, 0, 0.918);
    font-size: 1.2rem;
    text-align: center;
    color: aliceblue;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    font-weight: 600;
}
.input_text{
    width: 15rem;
    height: 3rem;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border: none;
    background-color: rgba(56, 83, 62, 0.795);
    font-size: 1.2rem;
    padding-left: 1rem ;
    font-weight: 700;
}
.input_text::placeholder{
    color: rgb(0, 0, 0);
    
    
}
.input_date{
    border: none;
    width: 10rem;
    height: 3rem;
    background-color: rgb(23, 68, 27);
    font-size: 1.2rem;
    text-align: center;
    color: aliceblue;
    font-weight: 600;
}

.add{
    width: 5rem;
    height: 3rem;
    border: none;
    background-color: rgb(0, 82, 20);
    font-size: 1.2rem;
    text-align: center;
    color: aliceblue;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    font-weight: 500;
}
.title_todo{
    display: flex;
    width: 32rem;
    justify-content: center;

}
